In [1]:
p=10
q=2.3
r="hello"

In [5]:
print('p=',p,'q=',q,'r=',r)

p= 10 q= 2.3 r= hello

In [12]:
print("r = {2}, q={1} and p={0}".format(p,q,r))

r = hello, q=2.3 and p=10

In [14]:
a=b=c=1000
print(a,b,c)

1000 1000 1000

In [15]:
#implement to swap two numbers
x=10
y=20 #then
x=20
y=10

In [7]:
x=10
y=20
(x,y)
x,y=y,x
print(x,y)

20 10

In [ ]:
#python code to read and display employee details
#name employee id years of exp salary designation

In [3]:
name=input("enter name")
id=int(input("enter id number"))
designation=input("enter designation")
experience=float(input("years of experience"))
salary=int(input("enter salary"))

print("Displaying employee detail")
print("Name : {0}\nEmployee id : {1}\nDesignation: {2}\nExperiance: {3}\nSalary: {4}".format(name,id,designation,experience,salary))

enter nameirfu
enter id number123
enter designationassy
years of experience2.2
enter salary22220
Displaying employee detail
Name : irfu
Employee id : 123
Designation: assy
Experiance: 2.2
Salary: 22220

In [38]:
x=10
y=20
(x,y)
z=x+y
print(" {0}*{1} is z:{2} ".format(x,y,x*y))

 10*20 is z:200

In [19]:
x=11
y=21
x,y
print(x+y)

32

In [46]:
a=10
a<<1 #binary

20

In [54]:
a=10
a*=a
a

100

In [56]:
x=10
y=20
x is not y

True

In [59]:
x='hello'
'h' in x

False

In [60]:
'z' not in x

True

In [65]:
s ="irfan bhai"
print(s[::-1])

iahb nafri

In [69]:
tup=(1,2,3,4,10)
max(tup)

10

In [1]:
#if else elif

In [11]:
x=1
if (x>0):
    print("inside if")
    print("x=",x)
else:
    print("outside if")
    print("hello")

inside if
x= 1

In [21]:
x=10
if (x>0):
    print("x=",x)
else:
    print("x=",x)

x= 10

In [27]:
x=5
if (x%2==0):
    print("input number is even","x=",x)
else:
    print("number is odd","x=",x)

number is odd x= 5

In [3]:
a=float(input("number"))

if(a<0):
    print("absolute value of {0} is {1}".format(a,(0-a))
else:
    print("absolute value of {0} is {1}".format(a,a))

SyntaxError: invalid syntax (Temp/ipykernel_3908/3874018230.py, line 5)

In [1]:
a=float(input("enter number"))
if(a<0):
    print("absolute value of {0} is {1}". format(a(0-a))
else:
    print("absolute value of {0} is {1}". format(a,a))

SyntaxError: invalid syntax (Temp/ipykernel_2268/1329649184.py, line 4)

In [14]:
a=float(input("enter number"))
if(a<0):
    print("absolute number of {0} is {1}". format(a(0-a)))
else:
    print("absolute value of {0} is {1}". format(a,a))

enter number2.2
absolute value of 2.2 is 2.2

In [3]:
a=float(input("enter number"))
if (a<0):
    print("absolute value of {0} is {1}".format(a(0-a)))
else:
    print("absolute value of {0} is {1}".format(a,a))

enter number5
absolute value of 5.0 is 5.0

In [4]:
x=100
if (x==10):
    print("x is equal to 10")
elif (x>10):
    print("x is greater than 10")
else:
    print("x is less than 10")

x is greater than 10

In [5]:
x=1
if (x==10):
    print("x is equal to 10")
elif (x>10):
    print("x is greater than 10")
else:
    print("x is less than 10")

x is less than 10

In [6]:
x=10
if (x==10):
    print("x is equal to 10")
elif (x>10):
    print("x is greater than 10")
else:
    print("x is less than 10")

x is equal to 10

In [14]:
x=int(input("salary of emp"))
y=float(input("years of exp"))
if (y>5):
    print("bonus given to emp is=",(x*0.05))
else:
    print("no bunus")

salary of emp100000
years of exp20
bonus given to emp is= 5000.0

In [13]:
x=int(input("salary of emp"))
y=float(input("years of exp"))
if (y>5):
    print("eligible for bonus")
    print("Bonus:",x*0.05)
else:
    print("not eligible for bunus")

salary of emp100000
years of exp10
eligible for bonus
Bonus: 5000.0

In [18]:
leng=float(input("enter length of rectangle"))
brea=float(input("enter breadth of rectangle"))

if (leng==brea):
    print("given rectangle is square")
else:
    print("given rectangle is not square")

enter length of rectangle50
enter breadth of rectangle50
given rectangle is square

In [27]:
x=int(input("enter no of quantity="))
y=int(input("product cost="))
if (x*y)>=1000:
    print("net cost=",(x-0.01*x))
else:
    print(x)

enter no of quantity=20
product cost=100
net cost= 19.8

In [3]:
x=int(input("age of 1st person"))
y=int(input("age of 2nd person"))
z=int(input("age of 3rd person"))

if (x>y) and (x>z):
    print("1st person is oldest")
elif (y>x) and (y>z):
    print("2nd person is oldest")
elif (z>x) and (z>y):
    print("3rd person is oldest")
    
if (x<y) and (x<z):
    print("1st person is youngest")
elif (y<x) and (y<z):
    print("2nd person is youngest")
elif (z<x) and (z<y):
    print("3rd person is youngest")    
else:
    print("all are eual")

age of 1st person55
age of 2nd person75
age of 3rd person65
2nd person is oldest
1st person is youngest

In [4]:
a=int(input("age 1st"))
b=int(input("age 2nd"))
c=int(input("age 3rd")) 
l=[a,b,c]

print("oldest person is {0}year".format(max(l)))
print("youngest person is {0}year".format(min(l)))

age 1st50
age 2nd90
age 3rd75
oldest person is 90year
youngest person is 50year

In [6]:
a=int(input("age 1st"))
b=int(input("age 2nd"))
c=int(input("age 3rd")) 
l=[a,b,c]

print(max(l),"year older")
print(min(l),"year younger")

age 1st99
age 2nd10
age 3rd101
101 year older
10 year younger

In [8]:
h=float(input("no of classes held"))
a=float(input("no of classe attended"))

if (a/h*100)>75:
    print("allowed for exam")
else:
    print("not allowed for exam")

no of classes held100
no of classe attended50
not allowed for exam

In [9]:
 #loops

In [2]:
i=0
while (i<5):
    i=i+1
    print("hello")

hello
hello
hello
hello
hello

In [2]:
l=[1,2,3,4,5]
for i in l:
    print(i)

1
2
3
4
5

In [4]:
i=0
while(i<len(l)):
    print(l[i])
    i=i+1

1
2
3
4
5

In [8]:
#range
i=0
for i in range (0,10):
    print(i)
    i=i+1

0
1
2
3
4
5
6
7
8
9

In [10]:
n=int(input("natural numbers"))
for n in range(0,n):
    print(n+1)

natural numbers5
1
2
3
4
5

In [11]:
l=[]
for i in range(0,10):
    n=int(input("enter number"))
    l.append(n)
print("numbers",l)    
print("average",sum(l)/len(l))

enter number5
enter number4
enter number3
enter number2
enter number1
enter number0
enter number8
enter number9
enter number7
enter number5
numbers [5, 4, 3, 2, 1, 0, 8, 9, 7, 5]
average 4.4

In [5]:
#factorial
num=int(input("enter number"))
f=1
while (num>0):
    f=f*num
    num=num-1
print("fact:",f)

enter number5
fact: 120

In [7]:
l=[]
for i in range (0,10):
    n=int(input("enter a number"))
    l.append(n)
print("list =",l)    

x=int(input("enter number"))
if (x in l):
    print("{0} is present in list{1}".format(x,l))
else:
    print("{0} is not present in list {1}".format(x,l))

enter a number10
enter a number8
enter a number7
enter a number2
enter a number35
enter a number6
enter a number4
enter a number8
enter a number9
enter a number0
list = [10, 8, 7, 2, 35, 6, 4, 8, 9, 0]
enter number7
7 is present in list[10, 8, 7, 2, 35, 6, 4, 8, 9, 0]

In [1]:
l=[]
for i in range (0,10):
    n=int(input("enter number"))
    l.append(n)
print("list with duplicate numbers:=",l)

enter number10
enter number8
enter number8
enter number7
enter number5
enter number5
enter number3
enter number3
enter number2
enter number1
list with duplicate numbers:= [10, 8, 8, 7, 5, 5, 3, 3, 2, 1]

In [8]:
t=set(l)

In [9]:
l=list(l)

In [12]:
print("list without duplicat enumbers",set(l))

list without duplicat enumbers {1, 2, 3, 5, 7, 8, 10}

In [9]:
l=[]
for i in range(0,10):
    n=int(input("enter number"))
    l.append(n)
print("list of elements",l)

enter number10
enter number5
enter number4
enter number6
enter number2
enter number1
enter number5
enter number8
enter number6
enter number3
list of elements [10, 5, 4, 6, 2, 1, 5, 8, 6, 3]

In [18]:
s=l.reverse()

In [21]:
print("reversed numbers: ",l)

reversed numbers:  [3, 6, 8, 5, 1, 2, 6, 4, 5, 10]

In [2]:
name=input("name")
n=name.split()
t=n[0][0]+"."+n[1][0]+"."+n[2]
print(t)

nameIrfan Dastgir Fulari
I.D.Fulari

In [8]:
l=[]
for i in range(0,10):
    n=int(input("enter number"))
    l.append(n)
print("list of elements",l)

enter number10
enter number9
enter number8
enter number7
enter number6
enter number5
enter number4
enter number3
enter number2
enter number1
list of elements [10, 9, 8, 7, 6, 5, 4, 3, 2, 1]

In [15]:
print("list of elements",l)

list of elements [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [ ]:
name=input("enter full name")
n=name.split()
t=n[0][0]+"."+n[1][0]+"."+n[2]
print(t)

In [1]:
a="refrigerator"
count=0
for i in a:
    count=count+1
print(count)

12

In [3]:
#break statement
i=5
while (i>0):
    print(i)
    if (i==3):
        break
    i=i-1

5
4
3

In [9]:
for i in range (0,5):
    print(i) 
    if(i==3):
        break
    i=i-1

0
1
2
3

In [ ]:
#continue statement
i=5
while (i>0):
    if (i==3):
        continue
        i=i-1
    print(i)            
    i=i-1

5
4

In [1]:
i=5
while (i>0):
    if(i==3):
        i=i-1
        continue
    print(i)
    i=i-1

5
4
2
1

In [8]:
def hello():
    print('hello world')

In [9]:
hello()

hello world

In [12]:
def add(x):
    return x+10

In [13]:
add(10)

20

In [14]:
def odd_even(x):
    if x%2==0:
        print(x,"is even")
    else:
        print(x, "is odd")

In [16]:
odd_even(9)

9 is odd

In [17]:
def fun(a,b,c):
    print(a)
    print(b)
    print(c)

In [18]:
fun(1,2,3)

1
2
3

In [24]:
def fun (a,b,c):
    print(a,b,c)

In [26]:
fun(100,200,3)

100 200 3

In [27]:
def sample(x,y,z):
    print(x,y,z)

In [29]:
sample(10,20,30)

10 20 30

In [30]:
sample(z=40,x=50,y=60)

50 60 40

In [31]:
sample(10,z=90,y=2.3)

10 2.3 90

In [4]:
def fun(*t):
    for i in t:
        print(i)

In [7]:
fun()

In [8]:
#global variable
a=10
def fun():
    b=20
    print("a={0} inside function fun".format(a))
fun()
print("a={0} outside function fun".format(a))

a=10 inside function fun
a=10 outside function fun

In [40]:
#local variable
a=10
def fun():
    b=20
    print("b={0} inside function fun".format(b))
fun()    
print("b={0} outside function fun".format(b))

b=20 inside function fun

NameError: name 'b' is not defined

In [50]:
x=10
def example():
    global x
    print("x={0} inside example".format(x))
example()    
print("x={0} outside example".format(x))

x=10 inside example
x=10 outside example

In [2]:
#local + global variable
p=100
def fun():
    global p
    q=2.3
    print("q={0} inside fun".format(q))
fun()    
print("p={0} inside fun".format(p))

q=2.3 inside fun
p=100 inside fun

In [58]:
y=lambda x:("square of {0} is {1}".format(x,x**2))

SyntaxError: invalid syntax (Temp/ipykernel_5908/3624568032.py, line 1)

In [59]:
y(5)

'square of 5 is 25'

In [63]:
#to check number is odd or even.
s=lambda t:1 if t%2==0 else 0

In [68]:
n=int(input("enter number"))
if (s(n)):
    print("number is even")
else:
    print("number is odd")

enter number7
number is odd