In [18]:
for number in range(1, 10):
    if(number % 2 != 0):
        print(number)

1
3
5
7
9

In [24]:
150%7

3

In [26]:
i = 1
while True:
    if i%3 == 0:
        break
    print(i)
    i+=1

1
2

In [33]:
x=1
x<<2

4

In [34]:
x=1
x>>2

0

In [ ]:
2**(3**2)
(2**3)**2
2**3**2

In [35]:
2**9

512

In [38]:
8**2

64

In [39]:
2**3**2

512

In [40]:
x = 15
y = 2

print(x // y)

7

In [41]:
print("Regular division")
print(2 / 2, "\tis a float.")

print("\nFloor division")
print(15 // 4, "\tis an int.")
print(15.0 // 4, "\tis a float.")

Regular division
1.0 	is a float.

Floor division
3 	is an int.
3.0 	is a float.

In [42]:
7/2

3.5

In [43]:
7//2

3

In [44]:
print(15 / 4)
print(15 // 4)
print(-15 // 4)

3.75
3
-4

In [45]:
15//4

3

In [46]:
l=[1, 0, 2, 0, 'hello', '', []]
list(filter(bool, l))

[1, 2, 'hello']

In [48]:
def f(x):
    def f1(*args, **kwargs):
        print("Sanfoundry")
        return x(*args, **kwargs)
    return f1

In [49]:
min(max(False,-3,-4), 2,7)

False

In [50]:
x=56.236
print("%.2f"%x)

56.24

In [51]:
"%.2f"
print("%.2f" % total)

NameError: name 'total' is not defined

In [55]:
%10.2f

UsageError: Line magic function `%10.2f` not found.

In [56]:
x = 'abcd'
for i in x:
    print(i.upper())

A
B
C
D

In [57]:
for i in [1, 2, 3, 4][::-1]:
    print (i)

4
3
2
1

In [61]:
"a"+"bc"

'abc'

In [60]:
f = foo()
format(f)

NameError: name 'foo' is not defined

In [64]:
class tester:
    def __init__(self, id):
        self.id = str(id)
        id="224"
 
temp = tester(12)
print(temp.id)

12

In [65]:
def foo(x):
    x[0] = ['def']
    x[1] = ['abc']
    return id(x)
q = ['abc', 'def']
print(id(q) == foo(q))

True

In [70]:
z=set('abc')
z.add('san')
z.update(set(['p', 'q']))
z

{'a', 'b', 'c', 'p', 'q', 'san'}

In [71]:
print("abc. DEF".capitalize())

Abc. def

In [73]:
pwd

'C:\\Users\\dell'

In [2]:
list1 = [1,2,3,4]
list2 = [2,4,5,6]
list3 = [2,6,7,8]
result = list()
result.extend(i for i in list1 if i not in (list2+list3) and i not in result)
result.extend(i for i in list2 if i not in (list1+list3) and i not in result)
result.extend(i for i in list3 if i not in (list1+list2) and i not in result)

In [3]:
def myFun(*argv):
    for arg in argv:
        print(arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

Hello
Welcome
to
GeeksforGeeks

In [4]:
def myFun(arg1, *argv):
    print("First argument :", arg1)
    for arg in argv:
        print("Next argument through *argv :", arg)


myFun('Hello', 'Welcome', 'to', 'GeeksforGeeks')

First argument : Hello
Next argument through *argv : Welcome
Next argument through *argv : to
Next argument through *argv : GeeksforGeeks

In [8]:
def my_fun1(arg1,*argv):
    print("my first argu: ",arg1)
    for arg in argv:
        print("next arguments: ",arg)
        
my_fun1('hello',"hi",'welcome','dear')

my first argu:  hello
next arguments:  hi
next arguments:  welcome
next arguments:  dear

In [14]:
def myFun(**kwargs):
    for key, value in kwargs.items():
        print("%s==%s"%(key, value))


# Driver code
myFun(first='Geeks', mid='for', last='Geeks')

first==Geeks
mid==for
last==Geeks

In [15]:
def myFun(*args, **kwargs):
	print("args: ", args)
	print("kwargs: ", kwargs)


# Now we can use both *args ,**kwargs
# to pass arguments to this function :
myFun('geeks', 'for', 'geeks', first="Geeks", mid="for", last="Geeks")

args:  ('geeks', 'for', 'geeks')
kwargs:  {'first': 'Geeks', 'mid': 'for', 'last': 'Geeks'}

In [16]:
def myFun(arg1, arg2, arg3):
	print("arg1:", arg1)
	print("arg2:", arg2)
	print("arg3:", arg3)


# Now we can use *args or **kwargs to
# pass arguments to this function :
args = ("Geeks", "for", "Geeks")
myFun(*args)

kwargs = {"arg1": "Geeks", "arg2": "for", "arg3": "Geeks"}
myFun(**kwargs)

arg1: Geeks
arg2: for
arg3: Geeks
arg1: Geeks
arg2: for
arg3: Geeks

In [17]:
# A Simple Python program to demonstrate working
# of yield

# A generator function that yields 1 for the first time,
# 2 second time and 3 third time
def simpleGeneratorFun():
	yield 1
	yield 2
	yield 3

# Driver code to check above generator function
for value in simpleGeneratorFun():
	print(value)

1
2
3

In [20]:
# A Python program to generate squares from 1
# to 100 using yield and therefore generator

# An infinite generator function that prints
# next square number. It starts with 1
def nextSquare():
	i = 1

	# An Infinite loop to generate squares
	while True:
		yield i*i				
		i += 1 # Next execution resumes
				# from this point	

# Driver code to test above generator
# function
for num in nextSquare():
	if num > 100:
		break	
	print(num)

1
4
9
16
25
36
49
64
81
100

In [21]:
print("Hello {0[0]} and {0[1]}".format(('foo', 'bin')))

Hello foo and bin

In [22]:
x = [[0], [1]]
print((' '.join(list(map(str, x))),))

('[0] [1]',)

In [25]:
#swapping two numbers
num1=10
num2=20
print("numbers before swapping: ",num1,num2)

temp=num1
num1=num2
num2=temp

#also  num1,num2=num2,num1


print("numbers after swapping: ",num1,num2)

numbers before swapping:  10 20
numbers after swapping:  20 10

In [27]:
#to check number is prime or not
#factors is 1 and number itself only
#number should be greater than 1 and should be get divide by itself only
#3,5,19,11,7,17,23, etc

num=19
count=0

if (num>1):
    for i in range (1,num+1):
        if(num%i)==0:
            count=count+1
    
    if count==2:
        print("number is prime")
    else:
        print("number is not primr")

number is prime

In [48]:
#factorial of number 

factorial=1
number=5
if num<0:
    print("faactorial doesnot exist for negative numbers")
elif num==0:
    print("factorial of number 0 is 1")
else:
    for i in range(1,number+1):
        factorial=factorial*i
print("factorial of number: ",number, "is", factorial)

factorial of number:  5 is 120

In [49]:
factorial=1
number=5
for i in range(1,number+1):
        factorial=factorial*i
print("factorial of number: ",number, "is", factorial)

factorial of number:  5 is 120

In [57]:
#also recursion

def factorial(n):
    return 1 if(n==1 or n==0) else n*factorial(n-1)
num=5
print("factorial of number: ",num, "is", factorial(num))

factorial of number:  5 is 120

In [21]:
#fibonocci series
n1=0
n2=1
n1,n2

(0, 1)

In [22]:
#fibonocci series
for i in range(0,10):
    sum=n1+n2
    print(sum)
    n1=n2
    n2=sum

1
2
3
5
8
13
21
34
55
89

In [2]:
#sum of element in array
arr=[1,2,3,4,5]
arr
sum(arr,10)

25

In [4]:
#max and min element in array

arr1=[1,2,3,4,5]
max(arr1),min(arr1)

(5, 1)

In [6]:
mylist=[1,2,4,5,8,6,3,10]
mylist

[1, 2, 4, 5, 8, 6, 3, 10]

In [8]:
count=0
for i in (mylist):
    count=count+1
print("length of my list is: ", count)

length of my list is:  8

In [11]:
#how to swap first and last elements of list
mylist=[12,35,55,15,12,9,24,25]
mylist


mylist[0],mylist[-1]=mylist[-1],mylist[0]
print("List after swapping: ",mylist)

List after swapping:  [25, 35, 55, 15, 12, 9, 24, 12]

In [12]:
mylist=[12,35,55,15,12,9,24,25]
mylist
start,*mid,end=mylist
mylist=[end,*mid,start]
mylist

[25, 35, 55, 15, 12, 9, 24, 12]

In [17]:
#swapping any two elements from list
list=[12,15,78,16,22,26]
list
pos2,pos3=3,2
list[pos2],list[pos3]=list[pos3],list[pos2]
list

[12, 15, 16, 78, 22, 26]

In [22]:
#removing exra occuring elements in list
wordlist=["geeks","for","geeks","geeks"]
wordlist
s=set(wordlist)
s

{'for', 'geeks'}

In [1]:
list=[1,5,6,7,8,9,10,22]
list
num=10
if num in list:
    print("found")
else:
    print("not found")

found

In [2]:
#how to clear list- delete list
list=[15,2,4,5,3,6,7,90]
print("list before clear:", list)
list.clear()
print("list after clear:", list)

list before clear: [15, 2, 4, 5, 3, 6, 7, 90]
list after clear: []

In [6]:
list=[15,2,4,5,3,6,7,90]
print("list before clear:", list)
list *=0         # *=0 clears list 
list

list before clear: [15, 2, 4, 5, 3, 6, 7, 90]

[]

In [8]:
list=[15,2,4,5,3,6,7,90]
print("list before clear:", list)
del list[1:4]       #1 to 3 index number deleted
list

list before clear: [15, 2, 4, 5, 3, 6, 7, 90]

[15, 3, 6, 7, 90]

In [9]:
list=[15,2,4,5,3,6,7,90]
print("list before clear:", list)
del list[:]       #deleted all list
list

list before clear: [15, 2, 4, 5, 3, 6, 7, 90]

[]

In [10]:
#how to reverse the list #1
list=[15,2,4,5,3,6,7,90]
print("list before reverse :", list)
list.reverse()
list

list before reverse : [15, 2, 4, 5, 3, 6, 7, 90]

[90, 7, 6, 3, 5, 4, 2, 15]

In [12]:
#2nd method

list=[15,2,4,5,3,6,7,90]
list2=list[::-1]
list2

[90, 7, 6, 3, 5, 4, 2, 15]

In [14]:
#how to clone or copy the list
#1st
list=[15,22,35,6,44,89]
list
list1=list[:]
list1

[15, 22, 35, 6, 44, 89]

In [18]:
#2nd  list element copied into empty list name list3 ,  .extend()
list3=[]
list3.extend(list)
list3

[15, 22, 35, 6, 44, 89]

In [22]:
#3rd  .copy() function
list_o=[15,22,35,6,44,89]
list_o
list_copy=list_o.copy()
list_copy

[15, 22, 35, 6, 44, 89]

In [23]:
#4th
xc=[15,22,35,6,44,89]
zx=[i for i in xc]
zx

[15, 22, 35, 6, 44, 89]

In [31]:
#count occurances in list #1st
xxx=[0,50,20,14,10,30,30,45,10,55,5]
xxx

x=10
count=0
for ele in xxx:
    if(ele==x):
        count=count+1
print("{} has occured {} times". format(x,count))

10 has occured 2 times

In [33]:
#2nd method

xyy=[0,50,20,14,10,30,30,45,10,55,5]
xyy
a=10
print("{} has occured {} times".format(a,xyy.count(a)))

10 has occured 2 times

In [34]:
#3rd method

xyy=[0,50,20,14,10,30,30,45,10,55,5]
xyy
a=10
xyy.count(a)

2

In [39]:
#4th method

from collections import Counter
yyy=[0,50,20,14,10,30,30,45,10,55,5]
yyy
x=10
dic=Counter(yyy)     #0:1,50:1,20:1...
print("{} has occured {} times".format(x,dic[x]))

10 has occured 2 times

In [41]:
#find sum of an elements in list
#1st

a1=[0,50,20,14,10,30,30,45,10,55,5]
a1
sum(a1)

269

In [43]:
#2nd

a2=[0,50,20,14,10,30,30,45,10,55,5]
a2
total=0
for i in range(0,len(a2)):
    total=total+a2[i]
    
print("sum of all elements in list:", total)

sum of all elements in list: 269

In [56]:
#multiply all numbers in list
a3=[2,4,1,50]
a3
multipli=1      #result,count etc any word or variable we can use

for x in a3:
    multipli=multipli*x
    
print("multiplication of numbers is: ",multipli)

multiplication of munbers is:  400

In [55]:
#2nd 
import numpy as np
a4=[2,4,1,20]
a4
mupltiply=np.prod(a4)       #numpy function prod() used here
mupltiply

160

In [64]:
#find smallest and largest number in list
#1st method
o=[10,100,1,50,25]
o
o.sort()  #sorted 1st elemet and lest element
o

print("smallest number from list:",o[0])
print("highest number from list:",o[-1])

smallest number from list: 1
highest number from list: 100

In [66]:
#2nd method
o=[10,100,1,50,25]
min(o), max(o)

(1, 100)

In [70]:
#Find second largest element in list
#1st method
l=[10,100,1,50,99,25]
l.sort()
l
print("largest number: ",l[-1])
print("second largest number: ",l[-2])

largest number:  100
second largest number:  99

In [103]:
#2nd method
m=[10,1,55,50,99,25,100]
m
new_list=set (m)      #sorted by ascending order
new_list
print(new_list.remove(max(new_list)))     #removed largest element
new_list

None

{1, 10, 25, 50, 55, 99}

In [108]:
#check string is palindrome or not  i.e after reversing element we get same output string is called palindrome
# e.g. madam is palindrome, welcome is not palindrome

#1. reverse the string
#2. check reversed string is same as origional 

s=input("enter a string: ")
reverstr=(s[::-1])     #reverse string
reverstr

if reverstr==s:
    print("string is palindrome")
else:
    print("string is not palindrome")

enter a string: maadam
string is not palindrome

In [116]:
#reversing strings

str="welcome to python programming"
str
words=str.split(" ")    #split in separate quotes
print(words)
words[::-1]        #reversed all strings

['welcome', 'to', 'python', 'programming']

['programming', 'python', 'to', 'welcome']

In [121]:
#Find substring present in given string

string="welcome to python programming"
string
f="python"

if f in string:
    print("found/available")
else:
    print("not found/not available")

found/available

In [123]:
#how to find length of string
#1st method
M="welcome to hello world"
M
count=0
for i in M:
    count=count+1
print("length of string is: ",count)

length of string is:  22

In [129]:
#2nd method using while loop and slicing
z="welcome to world"
counter=0

while z[counter:]:          #1st element i.e counter=0  slicing
    counter=counter+1
print("length of string is: ",counter)

length of string is:  16

In [130]:
#3rd  len method

v="welcome to world"
len(v)

16

In [134]:
#4th method using join and count
d="welcome to world"
randome_str="x"
print((randome_str).join(d))      # insert x after every character
print((randome_str).join(d).count(randome_str))       # x counted
print((randome_str).join(d).count(randome_str)+1)     # this gives exact len of string

wxexlxcxoxmxex xtxox xwxoxrxlxd
15
16

In [140]:
#check if string contain any special characters in it , like @,_,&^%$ etc.

import re       #regular expression
#srt="welcome@@@@*&#"
srt2="welcome to python"
regex=re.compile('[@#$%^&*><?!]')

if (regex.search(srt2) == None):
    print("contain no special character in string")
else:
    print("contain special character in string")

contain no special character in string

In [147]:
#check for url in string
import re
eee="google website is https://www.google.com/  and fb website is http://www.facebook.com/ " 
eee

#http://urlregex.com
#http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+

url=re.findall('http[s]?://(?:[a-zA-Z]|[0-9]|[$-_@.&+]|[!*\(\),]|(?:%[0-9a-fA-F][0-9a-fA-F]))+',eee)
url

['https://www.google.com/', 'http://www.facebook.com/']