In [7]:
a=int(input("enter number"))
if (a%2==0):
    print("input number is even")
else:
    print("input number is odd")

enter number9
input number is odd

In [14]:
a=float(input("enter number"))
if(a<0):
    print("absolute number of {0} is {1}". format(a(0-a)))
else:
    print("absolute value of {0} is {1}". format(a,a))

enter number1
absolute value of 1.0 is 1.0

In [30]:
x=10
if(x==10):
    print("x is equal to 10")
elif (x>10):
    print("x is greater than 10")
else:
    print("x is less than 10")

x is equal to 10

In [37]:
salary=int(input("enter salary"))
year=float(input("years of service"))
if (year>5):
    print("your net amount of bonus is{0}". format(salary*0.05))
else:
    print("you are not eligible for bonus")

enter salary10000
years of service10
your net amount of bonus is500.0

In [40]:
x=float(input("year of service"))
if(x>5):
    z=int(input("enter salary"))
    print("bonus given to employee is",(z*0.05))
else:
    print("no bonus")

year of service3
no bonus

In [1]:
x=float(input("enter length of rect="))
y=float(input("enter breadth of rect="))
if (x==y):
    print("given rect is square")
else:
    print("it is not square")

enter length of rect=20
enter breadth of rect=21
it is not square

In [8]:
x=int(input("enter quantity"))
if(x>1000):
    z=(x*100)-(x*100*(0.01))
    print("cost is",z)
else:
    print("cost is",x*1000)

enter quantity12
cost is 12000

In [11]:
x=float(input('enter product cost='))
y=float(input('enter quantity'))
if((x*y)>1000):
    print("net cost=",(x-0.01*x))
else:
    print(x)

enter product cost=100
enter quantity0
100.0

In [16]:
quantity=int(input("enter quantity"))
if(quantity*100>1000):
    print("cost:",((quantity*100)-(0.1*quantity*100)))
else:
    print("cost:", quantity*100)

enter quantity111
cost: 9990.0

In [20]:
a=int(input("age 1 person:"))
b=int(input("age 2 person:"))
c=int(input("age 3 person:"))
l=(a,b,c)
print((max(l),"is older"))
print((min(l),"is younger"))

age 1 person:25
age 2 person:20
age 3 person:18
(25, 'is older')
(18, 'is younger')

In [3]:
p1=int(input("enter age"))
p2=int(input("enter age"))
p3=int(input("enter age"))
if(p1>=p2 and p1>=p3):
    print("oldest:",p1)
elif(p2>=p1 and p2>=p3):
    print("oldest:",p2)
elif(p3>=p1 and p3>=p2):
    print("oldest:",p3) 
else:
    print("all are equal")

if(p1<=p2 and p1<=p3):
    print("youngest:",p1)
elif(p2<=p1 and p2<=p3):
    print("youngest:",p2)
elif(p3<=p1 and p3<=p2):
    print("youngest:",p3) 
else:
    print("all are equal")

enter age25
enter age26
enter age22
oldest: 26
youngest: 22

In [2]:
x=int(input("total lecture done"))
y=int(input("total lecture attended"))
z=(y/x)*100
if (z>75):
    print("allowed for exam")
else:
    print("not allowed for exam")

total lecture done 50
total lecture attended 10
not allowed for exam

In [1]:
i=10
while (i<12):
    i=i+1
    print("hello")

hello
hello

In [2]:
l=[1,2,3,4,5]
for x in l:
    print(x)

1
2
3
4
5

In [3]:
l=["hello","hii","tata","bye","khatam","gaya"]
for x in l:
    print(x)

hello
hii
tata
bye
khatam
gaya

In [8]:
for i in range (1,11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [12]:
n=int(input("enter number"))
for n in range (0,n):
    print(n+1)

enter number5
1
2
3
4
5

In [15]:
l=[]
for i in range (0,11):
    n=int(input("enter a number"))
    l.append(n)
print("numbers=",l)    
print("average:",sum(l)/len(l))

enter a number15
enter a number16
enter a number17
enter a number18
enter a number19
enter a number20
enter a number1
enter a number22
enter a number23
enter a number24
enter a number25
numbers= [15, 16, 17, 18, 19, 20, 1, 22, 23, 24, 25]
average: 18.181818181818183

In [20]:
num=int(input("enter number"))
f=1
while(num>0):
    f=f*num
    num=num-1
print("factorial:",f)

enter number5
factorial: 120

In [23]:
n=int(input("enter number"))
fact=1
while (n>0):
    fact=fact*n
    n=n-1
print("factorial",fact)

enter number5
factorial 120

In [26]:
l=[]
for i in range(0,10):
    n=int(input("enter number"))
    l.append(n)
print("list:",l)    

num=int(input("enter number"))
if (num in l):
    print("{0} is present in list {1}". format(num,l))
else:
    print("{0} is not present in list{1}".format(num,l))

enter number7
enter number8
enter number9
enter number4
enter number5
enter number6
enter number1
enter number2
enter number3
enter number4
list: [7, 8, 9, 4, 5, 6, 1, 2, 3, 4]
enter number10
10 is not present in list[7, 8, 9, 4, 5, 6, 1, 2, 3, 4]

In [35]:
l=[]
for i in range(0,10):
    n=int(input("enter number"))
    l.append(n)
print("list:",l)
l.reverse()
s=l
print("reversed elements:",s)

enter number7
enter number8
enter number4
enter number5
enter number6
enter number2
enter number3
enter number1
enter number0
enter number4
list: [7, 8, 4, 5, 6, 2, 3, 1, 0, 4]
reversed elements: [4, 0, 1, 3, 2, 6, 5, 4, 8, 7]

In [31]:
l.reverse()

In [32]:
print(l)

[7, 9, 8, 5, 6, 4, 3, 6, 2, 1]

In [43]:
f=input("enter first name")
m=input("middle name")
l=input("last name")

print(f[0],".",m[0],".",l)

enter first nameirfan
middle namedastgir
last namefulari
i . d . fulari

In [44]:
a="refrigerator"
count=0
for i in a:
    count=count+1
print(count)

12

In [2]:
i=5
while(i>0):
    print(i)
    if (i==3):
        break
    i=i-1

5
4
3

In [1]:
for i in range(0,5):
    print(i)
    if(i==3):
        break
    i=i-1

0
1
2
3

In [1]:
i=5
while(i>0):
    if (i==3):
        i=i-1
        continue
    print(i)
    i=i-1

5
4
2
1